.startDate{
    width:50%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.searchBar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.selectBar{
    width: 150px;
}

.gap{
    margin: 0 10px;
}

.float-bar {
    position: fixed;
    top: 8%;
    width: 400px;
    height: 45px;
    left: 42%;
    z-index: 999;
}